:root {
	--donkergrijs: #555555;
	--felwit: #ffffff;
	--cfgroen: #009881;
	--cfgrijs: #ececed;
	--cfpaars: #4E008E;
    --cfzwart: #000000;
  }

*{
    font-family: Helvetica, sans-serif;
    background-color: var(--cfzwart);
    color:var(--cfgroen);
}
input{
    background-color: var(--cfgrijs);
    color: var(--cfgroen);
}
.traject{
    padding: 4px 12px 4px 12px;
    border: 1px solid var(--cfgrijs);
    border-radius: 7px;
}
.traject a{
    text-decoration: none;
}
button{
    
}